In [1]:
import pandas as pd
df = pd.read_csv('mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [2]:
# dummy variables
df['gender'] = df['gender'].replace("Male",1)
df['gender'] = df['gender'].replace("Female",0)
df.tail()

     age  weight  gender likeness height
240   31    60.0       1   Pakora    160
241   26    70.0       1  Biryani    172
242   40    80.0       1  Biryani    178
243   25    65.0       1  Biryani    5.7
244   33    56.0       0   Samosa    157

In [3]:
# selection of input and output variables
X = df[['weight', 'gender']]
y = df['likeness']

In [4]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [5]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [6]:
# machine learning algorithm
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.tree import DecisionTreeClassifier

# create and fit our model
model = DecisionTreeClassifier().fit(X, y)

# Prediction
model.predict([[80, 1]]) # weight is 80 and gender is 1

c:\Users\sunrise\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [7]:
# how to measure the accuracy of the model
# split data into test and train (80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# create and fit a model
model = DecisionTreeClassifier().fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

# checking score
actual_values = y_test
score = accuracy_score(actual_values, predicted_values)
score

0.6530612244897959

In [8]:
# how to train and save your model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

modle = DecisionTreeClassifier().fit(X, y)

joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [9]:
# how to import/run a stored or saved model on our data?
# Assignment
model = joblib.load("foodie.joblib")
model.predict([[88, 1]])

c:\Users\sunrise\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [10]:
# graph
from sklearn import tree
model = DecisionTreeClassifier().fit(X, y)
# graphical evaluation/ look into what happened
tree.export_graphviz(model, out_file="foodie.dot", feature_names=['age', 'gender'], class_names= sorted(y.unique()), label = 'all', rounded=True, filled=True)